obj
bin
*.pac
*.bin
project.lock.json
#/.vs/restore.dg
#/.vs/PolarCore/v14/.suo
/.vs
databases
/packages
/src/Task02_SQLite/packages.config
/.vscode
/src/Task08_JSON/*.json
/src/Task08_JSON/*.bson
/Resources/zaliznyak_shortform.txt
/Databases/*
